# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NODE_ENV=development
PORT=5000
DATABASE_URL="postgresql://user:password@localhost:5432/ph-health-care?schema=public"
SALT_ROUND=10
JWT_SECRET=asdfasdfasdf
REFRESH_TOKEN_SECRET=asdfasdfasdf
EXPIRES_IN=7d
REFRESH_TOKEN_EXPIRES_IN=1y
EMAIL=example@gmail.com
APP_PASS=afdf afds afdd adfd
RESET_PASS_LINK=http://localhost:3000/reset-password
RESET_PASS_TOKEN=asdfasdfasdf
RESET_PASS_TOKEN_EXPIRES_IN=5m
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret


###ssl payment
STORE_ID = "SSL STORE ID"
STORE_PASS = "SSL STORE PASSWORD"
SUCCESS_URL = "http://localhost:3030/success"
CANCEL_URL = "http://localhost:3030/cancel"
FAIL_URL = "http://localhost:3030/fail"
SSL_PAYMENT_API = "PAYMENT API"
SSL_VALIDATIOIN_API = "PAYMENT VALIDATION API"

### opendriver key
OPENROUTER_API_KEY = "openrouter_api_key"
